[Desktop Entry]
Version=0.3.0
Name=RokuGtk
GenericName=RokuGtk
Comment=Roku remote
Exec=rokugtk
TryExec=
Icon=${SNAP}/meta/gui/rokugtk.png
Terminal=false
Type=Application
Categories=Application
X-KDE-Protocols=
Keywords=Roku;NowTV;Remote
